/* ==== Google font ==== */
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Montserrat:700|Merriweather:400italic');

@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

   @font-face {
	font-family: China; /* Гарнитура шрифта */
	src: url(China.ttf); /* Путь к файлу со шрифтом */
   }

body {
	padding-top: 51px;
	width: 100%;
	height: 100%;
	font-family: 'Shantell Sans','Comic Sans MS', sans-serif;
	font-weight: 300;
	color: rgb(212, 169, 23);
	background-color: none;
}

html {
	width: 100%;
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 10px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
}

p {
	margin: 0 0 20px;
	font-size: 16px;
	line-height: 1.6em;
}

p.lead {
	font-weight: 600;
}

a {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

a:hover,
a:focus {
	text-decoration: none;
	color: goldenrod;
}

.light {
	font-weight: 400;
}

.grad {
	background-image: linear-gradient(
		rgba(162, 211, 208, 0.9) 0%,
		rgba(162, 211, 208, 0.9) 80%,
		rgba(162, 211, 208, 0) 100%);
	border: none;
}
.back-btn {
	font-family: China;
	font-size: 1.8rem;
	text-decoration: none;
}

.footer-link {
	width: 121px;
	display: inline-block;
	text-align: center;
}
.footer-link:hover {
	color:gold;
	font-weight: bold;
}
.video-gallery li {
	padding-top: 1.5rem;
	font-size: 1.2rem;
}
.google-map {
	position: relative;
	display: block;
	height: fit-content;
	min-height: 36vh;
}
.my-list li a {
	text-decoration: none;
	color: rgb(9, 9, 9);
	list-style-type: none;
}
.my-list a:hover {
	font-weight: bold;
}

.navbar {
	margin-bottom: 0;
}

.navbar-brand {
	font-weight: 700;
}
.navbar-brand {
  padding: 0px 5px;
  font-size: 18px;
  line-height: 1em;
}

.navbar-brand img:hover {
	outline: 0;
	height: 58px;
}

.navbar-header.page-scroll, .navbar, .navbar-custom, .navbar-fixed-top {
	height: 61px;
}

.navbar-custom ul.nav li a {
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 600;
}

.navbar-custom.top-nav-collapse ul.nav li a {
    -webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}
.dropdown a  {
	background-color: rgba(225, 251, 253, 0.8);
	color: #483717;
	border-radius: 6px;

}
.dropdown a:hover  {
	background-color: rgba(245, 251, 252, 0.8);
	color: goldenrod;
}
@media (min-width:767px) {
	.dropdown a {
		background:none;
		color: #483717;

	}
}

.dropdown-menu {
	padding: 0 0;
	background-color: rgba(147, 216, 217, 0.576);
	border: none;

}
.dropdown-menu li a {
	min-height: 4rem;
	padding-top: 1rem;
}

.navbar-custom ul.nav ul.dropdown-menu li {
	border-bottom: 1px solid #f5f5f5;
	font-style: italic;
	font-size: 12px;
}

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
	color: goldenrod;
}


.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
	background-color: rgba(255, 255, 255, 0.9);
	color: goldenrod;
}

.navbar-custom .nav li a {
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
	outline: 0;
}

.navbar-toggle {
	margin-top: 4px;
	padding: 0px 8px;
	font-size: 28px;
	background-color: rgba(225, 251, 253, 0.8);
}

.navbar-toggle:focus,
.navbar-toggle:active {
	outline: 0;
}


/* loader */
#preloader {
	background: #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 999;
}


#loaderInner {
	background:#ffffff url(../icons/spinner.gif) center center no-repeat;
	height: 60px;
	left: 50%;
	margin: -50px 0 0 -50px;
	position: absolute;
	top: 50%;
	width: 60px;
}

@keyframes boxSpin{
  0%{
	transform: translate(-10px, 0px);
  }
  25%{
	transform: translate(10px, 10px);
  }
  50%{
	transform: translate(10px, -10px);
  }
  75%{
	transform: translate(-10px, -10px);
  }
  100%{
	transform: translate(-10px, 10px);
  }
}


@keyframes shadowSpin{
  0%{
	box-shadow: 10px -10px #39CCCC, -10px 10px #FFDC00;
  }
  25%{
	box-shadow: 10px 10px #39CCCC, -10px -10px #FFDC00;
  }
  50%{
	box-shadow: -10px 10px #39CCCC, 10px -10px #FFDC00;
  }
  75%{
	box-shadow: -10px -10px #39CCCC, 10px 10px #FFDC00;
  }
  100%{
	box-shadow: 10px -10px #39CCCC, -10px 10px #FFDC00;
  }
}

#load {
	z-index: 9999;
  background-color: #FF4136;
  opacity: 0.5;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  margin: -5px auto 0 auto;
  left: 0;
  right: 0;
  border-radius: 0px;
  border: 5px solid #FF4136;
  box-shadow: 10px 0px #39CCCC, 10px 0px #01FF70;
  animation: shadowSpin 1s ease-in-out infinite;
}

/* misc */
hr {
  margin-top: 10px;
}

/* margins */
.marginbot-0{margin-bottom:0 !important;}
.marginbot-10{margin-bottom:10px !important;}
.marginbot-20{margin-bottom:20px !important;}
.marginbot-30{margin-bottom:30px !important;}
.marginbot-40{margin-bottom:40px !important;}
.marginbot-50{margin-bottom:50px !important;}

/* ===========================
--- General sections
============================ */

.home-section {
	padding-top: 110px;
	padding-bottom: 110px;
	display:block;
	position:relative;
	z-index:120;

}

.section-heading {
	margin-bottom: 10px;
}
.section-heading h2 {
	font-size: 40px;
	text-shadow: none;
	margin: 3vh 1vh;
	font-family: China;
}
.section-heading i {
	margin-bottom: 48px;
}


/* --- section bg var --- */

.bg-white {
	background: #fff;
}


.bg-dark {
	background: #575757;
}

/* --- section color var --- */

.text-light {
	color: red;
}



/* ===========================
--- Intro
============================ */

.intro {
	width:100%;
	position:relative;
    background-size: cover;
    min-height: 100vh;
	min-height: 100vh;
	top:51px;
}

.intro .slogan {
	text-align: center;
	margin-top: 30vh;
}

.intro .page-scroll {
	text-align: center;
}


.intro .slogan {
	font-weight: 700;
	background-color: rgba(0, 0, 0, 0);
	text-decoration: none;
	text-transform: uppercase;
	border-width: 0px;
	border-color: #000;
	text-shadow: -2px 0 2px DarkRed;
}

.intro .slogan h1 {
	font-size: 6rem;
	margin-bottom: 3rem;
	font-family: China;
}

.intro .slogan h3 {
		font-size: 4rem;
		margin-bottom: 4rem;
		
}

.slg {
	font-size: 2rem;
	font-style: italic;
	line-height: 30px;
}

@media (max-width: 768px) {
  .intro .slogan h2 {
	font-size: 48px;
  }
}

@media (max-width: 600px) {
  .intro .slogan h2 {
	font-size: 36px;
  }
}


/* ===========================
--- About
============================ */

.boxed-grey {
	background: #a2d3d0db;
	padding: 20px;
	border-radius: 8em 0.5em/2em 0.5em;
	color: rgb(0, 0, 19);
	margin-bottom: 1em;
}

.team h5 {
	margin-bottom: 10px;
}

.team p.subtitle {
	margin-bottom: 10px;
	text-align: justify;
}

.team p.subtitle a {
	color: navy;
}


.avatar {
	margin-bottom: 20px;
	border-color: goldenrod;
}
.avatar img:hover {
	border: 2px solid goldenrod;
}

.team-social {
	margin-left: 0;
	padding-left: 0;

}

.team-social {
	text-align: center;
}

.team-social li{
	display: inline-block;
	margin:0 !important;
	padding:0;
}


.team-social a{
	margin:0;
	padding:0;
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #3bbec0;
	color: #fff;
	-webkit-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}
.team-social a i{
	text-align: center;
	margin:0;
	padding:0;
}


/* ===========================
--- Services
============================ */

.service-icon {
	margin-bottom: 20px;
}

.service-desc {
	color: navy;
}

.service-icon img {
	width: 90%;
	border-radius: 8px;
	position: relative;
	z-index: 0;
}

.service-icon img:hover {
	border-radius: 0px;
	border-style: groove;
	border-width: 6px;
	z-index: 10000;
}


/* ===========================
--- Contact
============================ */

.cont {
	color: black;
	text-align: left;
}
.cont p a {
	color: black;
}


/* ===========================
--- Footer
============================ */

footer {
	text-align: center;
	padding: 20px 0 ;
	background-color: black;
	word-wrap: break-word;

}

footer p, a {
	color: goldenrod;
}





/* ===========================
--- Elements
============================ */

.btn {
	border-radius: 0;
	text-transform: uppercase;
	font-weight: 200;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}


.btn-circle {
	color: inherit;
	width: 70px;
	height: 70px;
	font-weight: 200;
	margin-top: 0px;
	margin-bottom: 8vh;
	padding: 0px 16px;
	border: 0px solid;
	border-radius: 50%;
	font-size: 36px;
	background: 0 0;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}

.btn-circle.btn-dark {
	border: 2px solid #666;
	color: #666;
}


.btn-circle:hover,
.btn-circle:focus {
	outline: 0;
	color: #eadb04;
	background: rgba(255,255,255,.1);
	border: 1px solid;
}

.btn-circle.btn-dark :hover,
.btn-circle.btn-dark :focus {
	outline: 0;
	color: #999;
	background: #fff;
}

.btn-circle.btn-dark :hover i,
.btn-circle.btn-dark :focus i{
	color: #999;
}

.page-scroll .btn-circle i.animated {
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 1s;
	-moz-transition-property: -moz-transform;
	-moz-transition-duration: 1s;
}

.page-scroll .btn-circle:hover i.animated {
	-webkit-animation-name: pulse;
	-moz-animation-name: pulse;
	-webkit-animation-duration: 1.5s;
	-moz-animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
	0% {
    	-webkit-transform: scale(1);
    	transform: scale(1);
	}

	50% {
    	-webkit-transform: scale(1.2);
    	transform: scale(1.2);
	}

	100% {
    	-webkit-transform: scale(1);
    	transform: scale(1);
	}
}

@-moz-keyframes pulse {
	0% {
    	-moz-transform: scale(1);
    	transform: scale(1);
	}

	50% {
    	-moz-transform: scale(1.2);
    	transform: scale(1.2);
	}

	100% {
    	-moz-transform: scale(1);
    	transform: scale(1);
	}
}


#text {
	color: #fff;
	background: #ffcc00;
}

/* Media queries */

@media(min-width:767px) {

	.navbar {
    	padding: 0 0;
    	border-bottom: 0;
    	letter-spacing: 1px;
    	-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    	-moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    	transition: background .5s ease-in-out,padding .5s ease-in-out;
	}

	.top-nav-collapse {
    	padding: 0;
	}

	.intro {
    	height: 100%;
    	padding: 0;
	}

	.brand-heading {
    	font-size: 100px;
	}


	.intro-text {
    	font-size: 25px;
	}


}
@media (max-width:768px) {

	.team.boxed-grey {
    	margin-bottom: 30px;
	}

	.boxed-grey {
    	margin-bottom: 30px;
	}


}

@media (max-width:480px) {

	.navbar-custom .nav.navbar-nav {
	background-color: rgba(255,255,255,.4);
	}

	.navbar.navbar-custom.navbar-fixed-top {
    	margin-bottom: 30px;
	}

	.tp-banner-container {
    	padding-top:40px;
	}

	.page-scroll a.btn-circle {
    	width: 40px;
    	height: 40px;
    	margin-top: 10px;
    	padding: 7px 0;
    	border: 2px solid #fff;
    	border-radius: 50%;
    	font-size: 20px;
	}

}


/* p1-p6 */

	#p1 {
    	text-align: justify;
    	width: 600px;
    	margin-left: auto;
    	margin-right: auto;
	}

	#p1 h2 {
	text-align: center;
	}


.pimg {
	border-radius: 8px;
	border-style: none;
	width: 60%;
	margin: 10px;
}

@media (max-width:767px) {

#p1 {
	width: 90%;
}
	#p1 h2 {
	font-size: x-large;
	}


.pimg {
	width: 100%;
	}
}

.art {
	font-family: China, sans-serif;
	color: navy;
}

.thumb {
	border: none;
	display: inline-block;
}

.thumbnail {
	border: none;
	background: inherit;
}

.thumbnail img {
	border: none;
	border-radius: 4em 0.5em/1em 0.5em;
	width: 280px;
	height: 200px;
}

.img-responsive:hover {
	border-width: 2px;
	border-style: solid;
	border-color:goldenrod;
}

.auth li {
    margin-top: 1em;
}

.auth li a {
    color: navy;
}

.auth div {
    font-style: italic;
    font-weight: bold;
}
